<section class="flex justify-space-between">
  <div class="flex">
    <img src="../../../assets/images/logo.png"
      class="mobilo-compare-header__logo cursor-pointer"
      (click)="goToHome()">
    <div>
      <div class="font-medium text-bold">Mobilo24</div>
      <div>SMARTPHONE ONLINE SHOP</div>
    </div>
  </div>
  <div class="flex">
    <div class="margin-right-1 cursor-pointer"><a>SMARTPHONES</a></div>
    <div class="margin-right-1 cursor-pointer"><a>TOPSELLER</a></div>
    <div class="margin-right-1 cursor-pointer"><a>ANGEBOTE</a></div>
    <div class="margin-right-1 cursor-pointer"><a>SUCHE</a></div>
  </div>
  <div class="cursor-pointer">
    <a (click)="showFavourites()">Merkzettel</a>
  </div>
</section>
